<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ForeverArt.github.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- from vendors -->
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/Uikit/css/uikit.css">
    <link rel="stylesheet" href="vendors/Uikit/css/uikit.almost-flat.css">
    <link rel="stylesheet" href="vendors/Uikit/expand/uikit.docs.min.css">
    <link rel="stylesheet" href="vendors/Uikit/expand/docs.css">
    <!-- self -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/blog/blog.css">
</head>
<body>
    <!-- nav -->
    <nav class="uk-navbar" id="nav-header">
        <ul class="uk-navbar-nav">
            <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                <a href="index.html">Blog</a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-top" style="top: -218px; left: 0px;">
                    <ul class="uk-nav uk-nav-navbar">
                        <li class="uk-nav-header">Original</li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Drafts</a></li>
                        <li class="uk-nav-header">Collect</li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Notes</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#"><b>Control Mode</b></a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="https://github.com/ForeverArt/foreverart.github.io"><i class="uk-icon-github"></i> Github</a></li>
                <li><a href="setting"><i class="uk-icon-cog"></i> Setting</a></li>
            </ul>

        </div>
    </nav>
    <!-- end nav -->
    <div class="container bs-docs-container">
        <div class="row" id="app" role="main">
            <div v-if="!showBlogDetail" class="showBlogs">
                <div class="col-md-9">
                    <div class="blogs">
                        <div v-for="(blogItem, index) in blogs"
                        v-bind:item="blogItem"
                        v-bind:index="index"
                        v-bind:key="blogItem.number"
                        class="blog shadow1"
                        @click="chooseDetail(blogItem.number)">
                            <blog :blog="blogItem"></blog>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" role="complementary" class="blog_side_bar">
                    内容待定
                </div>
            </div>
            <div v-if="showBlogDetail" class="showBlogDetail">
                <div class="container">
                    <blog :blog="currentBlog"><blog>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- template -->
<!-- blog -->
<template id="blog_t">
    <article class="uk-article">
        <h1 class="uk-article-title">{{title}}</h1>
        <p class="uk-article-meta">{{meta}}</p>
        <hr class="uk-article-divider">
        <div v-html="html_content"></div>
    </article>
</template>

<!-- from vendors -->
<script type="text/javascript" src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="vendors/Uikit/js/uikit.js"></script>
<script type="text/javascript" src="vendors/vue/vue.js"></script>
<script src="vendors/markdown-browser-0.6.0-beta1/markdown.min.js" charset="utf-8"></script>
<!-- main -->
<script type="text/javascript" src="js/main.js"></script>
</html>
